#banner {
    width: 800px;
    height: 250px;
}

#container {
    width: 100%;
    text-align: center;
}

main {
    display: flex;
}

section ul {
    list-style-type: none
}

#window {
    width: 800px;
    height: 250px;
    background-color: #000000;
}

#planet {
    width: 800px;
    height: 250px;
    background-color: dimgray;
}

#stars {
    width: 800px;
    height: 250px;
    background-color: #FFFFFF;
}

footer {
    display: flex;
}

footer p {
    margin: 20px;
}

/* @media only screen and (min-width: 800px) {
    
} */