body {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #212226;
}

header {
    padding-top: 50px;
    color: #D3DAED;
}

header h1 {
    font-size: 2.2em;
}

header h2 {
    font-size: 1.8em;
}

#banner {
    width: 800px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    background-color: #272A33;
}

#metorite img {
    position: relative;
    top: 40px;
    right: 150px;
    transform: scale(1.5) translate(-100px);
    transition: all 2s ease-out;
}

#metorite img:hover {
    transform:rotate(2000deg);
    transition: all 2s ease-out;
}

#planet img {
    position: relative;
    top: 0;
    right: 50px;
    transform: scale(2) translate(150px);
    transition: all 2s ease-out;
}

#planet img:hover {
    transform: translate(-50px);
    transform: all 2s ease-out;
}

#stars {
    position: relative;
    bottom: 60px;
    right: 130px;
    animation-name: shining;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shining {
  0% {transform: scale( 0.5); }
  25% {transform: scale( 0.8 );}
  50% {transform: scale( 1 );}
  75% {transform: scale( 1.1 );}
  100% {transform: scale( 1.5 );}
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 100px;
}

section {
    padding-right: 50px;
    text-align: left;
    color: #D3DAED;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section ul li a {
    color: #8A72CE;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 20px;
}

footer p a {
    color: #5B87E8;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    /* desktop first approach uses max-width, indicating that the following conditions 
    are applied if screen is between 0 and 900px (horizontal scroll bar) */
    body {
        overflow-x: scroll;
    }
    main {
        justify-content: flex-start;
    }
    section {
        padding-left: 50px;
    }
}